html {
    font-size: 150%;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(250deg, #f8ecc9, #594c49);
}

/* Calculator */

.calculator {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.25em;
    overflow: hidden;
}

.calculator__display {
    background-color: rgb(107, 83, 68);
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: calc(1rem * 1.2 * 1.2);

}

.calculator__keys {
    background: grey;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1px;
    grid-template-areas:
        ". . . . "
        "seven eight nine backspace"
        "four five six clear"
        "one two three all_clear"
        "zero decimal negate equal";
}

.calculator__keys > button {
    border: 0;
    padding: 0.75rem 1rem;

}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.decimal {
    grid-area: decimal;
}

.clear {
    grid-area: clear;
}

.negate {
    grid-area: negate;
    background-color: rgb(241, 187, 186);
}

.negate:hover,
.negate:focus {
    background-color: rgb(239, 159, 159);
}

.equals {
    grid-area: equal;
    background-color: rgb(107, 83, 68);
}

.equals:hover,
.equals:focus {
    background-color: rgb(112, 92, 79);
}

.decimal {
    background-color: rgb(241, 187, 186);
}

.decimal:hover,
.decimal:focus {
    background-color: rgb(239, 159, 159);
}


.operator {
    background-color: rgb(239, 159, 159);
}

.operator:hover,
.operator:focus {
    background-color: rgb(239, 194, 194);

}

.number {
    background-color: rgb(241, 187, 186);
}

.number:hover,
.number:focus {
    background-color: rgb(239, 159, 159);
}